<div class="articlesearch">
    <form action="/results">
        <p>Enter and submit a Wikipedia article title or URL</p>
        <input type="text" placeholder="Article..." name="search">
        <button type="submit">Submit</button>
        <p>The selected Wikipedia article as well as a selection of related articles will be scraped for images, which will be presented on the next page.</p>
    </form>
</div>
