<div class="articlesearch">
    <form action="/results">
        <input type="text" placeholder="Article title..." name="search">
        <button type="submit">Submit</button>
        <p>The selected Wikipedia article as well as a selection of related articles will be scraped for images, which will be presented on the next page.</p>
        <p>[Related articles will not actually be scraped for this sprint, as that requires consuming another service]</p>
    </form>
</div>