body {
    background-color: #202020;
    color:aliceblue;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 50%;
    padding: 0 4px;
}

div.articlesearch {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    align-self: center;
}

div.articlesearch p {
    text-align: left;
}

div.gallery {
    clear: left;
}

div.galleryimage {
    margin: 5px;
    border: 1px solid white;
    float: left;
    height: 200px;
}

div.galleryimage:hover {
    margin: 3px;
    border: 3px solid white;
}

div.galleryimage img {
    width: auto;
    height: 100%;
    vertical-align: middle;
}

div.gallerymodal {
    position: fixed;
    display: none;
    left: 50%;
    top: 50%;
}

div.gallerymodal img {
    transform: translate(-50%, -50%);
    max-width: 90vw;
    max-height: 90vh;
    padding: 10px;
    border: 1px solid white;
    background-color: #202020;
}

div.gallerymodal span {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-10px, -10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #202020;
    text-align: center;
}